DATABASE_URL=postgresql://project_management_user:abc@localhost:5433/project_management_db
SECRET_KEY=abc
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10
DEBUG=True
PROJECT_NAME=Project Management API
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123
ADMIN_NAME=Admin